header {
  background-color: var(--primary-color);
  height: 4rem;
  color: var(--background-color);
  padding-left: 1rem;
  padding-right: 1rem;
}

header nav {
  height: 100%;
}

header ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

header a {
  color: var(--background-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

header a:hover {
  background-color: var(--primary-color-action);
}

header li {
  display: flex;
  align-items: center;
}

header .bag {
  display: flex;
  align-items: center;
  gap: 1rem;
}
