.product-item {
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

@media (max-width: 768px) {
  .product-item {
    width: 15rem;
  }
}

.product-item input {
  width: 5rem;
  text-align: end;
}

.product-item .actions,
.product-item .details {
  display: flex;
  justify-content: space-between;
}
