:root {
  --primary-color: #213547;
  --primary-color-action: #446e93;
  --background-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.checkout {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  all: unset;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-color-action);
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
